In [25]:
'''Name:- Angad Lamichhane Unique_id:-PAS074BGE004
 HW:- Application of python with GIS Chapter(1-5)'''

'Name:- Angad Lamichhane Unique_id:-PAS074BGE004\n HW:- Application of python with GIS Chapter(1-5)'

In [26]:
#function defination 
def my_function():
    #function statements.
    print("Hi i am my_function")
    print("I am inside the function")
#function call
my_function()

Hi i am my_function
I am inside the function

In [27]:
#Make a function which addes 2 number and print the sum
def addition(a,b):#function with the parameters
    c= a+b
    print(f"sum of two number is : {c}")
#function call with the two argument
addition(5,6)
addition(4,10)

sum of two number is : 11
sum of two number is : 14

In [28]:
#number which factorial is to be found
number = 5

# recursive function calculating the factorial of the number
def recursive(n):
    if n==1:
        return n #if n = 1 then it will retrun the 1
    else:
        return n*recursive(n-1) #recursive function until the n is less than 1

#calling function
factorial_value = recursive(number)
print(f"The factorial value is {factorial_value}")

The factorial value is 120

In [29]:
#Fruitful Function
def fruitful_function(n):
    return n+n #return the value is the fruitful function
print("the addition of the number by itself is",fruitful_function(5))

the addition of the number by itself is 10

In [30]:
#void function for addition
def void_function(n):
    add = n+n
    print ("the addition of the number by itself is:",add )
#function call
void_function(5)

the addition of the number by itself is: 10

In [31]:
#Built in function
#calcuting the max of the number 
maximum = max(3,1,56,34,2)
print(f"the maximum value is:{maximum}")

the maximum value is:56

In [32]:
#conversion function
#Convert the number 3.5 into an integer:
float_number = 3.5
interger_value = int(float_number)
print(f"the interger number of {float_number} is {interger_value}")

the interger number of 3.5 is 3

In [33]:
#math function
#built in math function 
x = min(5,10,25) #calculate the minimum 
y = abs(-7.25) #finds the absolute value
z = pow(4,3) #finds the 4^3 
print(f'min value: {x}, absolute: {y} power:{z}')
import math #importing math libary 
square_root = math.sqrt(4) ## Square root calculation
print(f"The square root is: {square_root}")
# ceil(x)	Returns the smallest integer greater than or equal to x.
print("The nearest greatest value neat the interger is:",math.ceil(3.4))

min value: 5, absolute: 7.25 power:64
The square root is: 2.0
The nearest greatest value neat the interger is: 4

In [34]:
#control statement
#finding the maximum and minimum using the if nested if else (control statement)
#declearing variable
number1 = 12
number2 = 24
number3 = 43 
if (number1>number2):#checking condition
    if(number1>number3):#nested control statement condition
        print(f"The highest number is : {number1}")
    else:
        print(f"the highest number is : {number3}")
else:
    if(number3>number2): #nested if 
        print(f"The hihest number is:{number3}")
    else:
        print(f"The highest number is:{number2}")

The hihest number is:43

In [35]:
#iteration
s= "hellow world"
for c in s:
    print(c)

h
e
l
l
o
w

w
o
r
l
d

In [36]:
#to display all prime number 
lower = 1 
upper = 10
print(f"the prime number between {lower} and {upper} are:")
for num in range(lower, upper+1):
    if num>1:#all prime number is greater than 1
        for i in range(2, num):
            if(num % i == 0):
                break
            else:
                print(num)

the prime number between 1 and 10 are:
3
5
5
5
7
7
7
7
7
9

In [37]:
#string Concatenation means addition of 2 string
first_name = "angad"
last_name = "lamichhane"
fullname = first_name+last_name #concatenation of 2 strings
print(f"Your full name is :{fullname}")

Your full name is :angadlamichhane

In [38]:
# String comparison
name1 = "angad"
name2 = "suman"
if(name1>name2):#checking the condition which comes ahead of one another
    print(f"{name2} comes ahead of {name1}") #its comparing the bits of the string value so whoes bit values is greater than another one it comes behind the first one
else:
    print(f"{name1} comes ahead of {name2}")

angad comes ahead of suman

In [39]:
# length od string
string1 = "angad lamichhane"
length = len(string1)#built in function to calculate the lenght of string
print(f"the length of the string {string1} is {length}")

the length of the string angad lamichhane is 16

In [40]:
#string subscript 
#in every program subscript is start with zero
#first letter is taken by
print("the first letter is ",string1[0])
print("the last letter of the string is",string1[-1])
#any arbitary letter is 
print("The letter in bewteen is any position called 10", string1[10])

the first letter is  a
the last letter of the string is e
The letter in bewteen is any position called 10 c

In [41]:
# in operator
use_in = 'o' in 'hello world'#checking the request word is inside the word or not
if(use_in == True):#checking for true 
    print("your request word is in hello word")
else:
    print("your request word is not in hello word")

your request word is in hello word

In [42]:
#String methods 
word = "I am python developer"
print(f"the word o repeat for {word.count('o')}") #count the O occuracnce in the occurance
print(f"The word python start from the {word.find('python')} indices") #search the word
word.replace("python","javascript")
print(word)

the word o repeat for 2
The word python start from the 5 indices
I am python developer

In [43]:
#lists 
natural_numbers = [1,2,3,4,5,6,7,8,9,10]#defining the list of first 10 natural numbers
print(f"first 10 natural numbers are {natural_numbers}")
my_info = ['Angad','lamichhane',504,'PAS074BGE004']#list with interger and string datatype
print(f"My first name is {my_info[0]}. My last_name is {my_info[1]}")
print(f"My unqiue id is {my_info[-1]}, My roll Number is {my_info[-2]}")

first 10 natural numbers are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
My first name is Angad. My last_name is lamichhane
My unqiue id is PAS074BGE004, My roll Number is 504

In [44]:
#empty list can also be made
empty_list = []
print(f"empty list {empty_list}")

empty list []

In [45]:
#lists are mutable
numbers = [10,20,11,13,15]
# When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.
print(f"The orginal numbers are {numbers}")
numbers[1]=100 #assign the 100 in the 1 indices
print(f"List replace after the assignement are {numbers}")
#mutable means which can be modified later after assignement

The orginal numbers are [10, 20, 11, 13, 15]
List replace after the assignement are [10, 100, 11, 13, 15]

In [46]:
#nested lists examples
all_numbers = [0,[1,3,5,7,9],[2,4,6,8]]#nested list for zero, odd numbers, even numbers
print(f"The odd number is {all_numbers[1]}")
print(f"Even numbers are: {all_numbers[2]}")
print(f"Zero :{all_numbers[0]}")

The odd number is [1, 3, 5, 7, 9]
Even numbers are: [2, 4, 6, 8]
Zero :0

In [47]:
#comparision bewteen lists and string
'''String are immutable but the lists are mutable'''
string = "hello word"
string[1] = 'a'#string is immutable beacuse it cannot changed after assignment

TypeError: 'str' object does not support item assignment

In [48]:
lists = list(string)
lists[1]= 'a' #string are mutable it can changed after assignement
lists

['h', 'a', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'd']

In [49]:
'''String can be concanted using + sign while the list can add element using append method'''
first_name = "Angad"
last_name = "lamichhhane"
string_concanted = first_name+last_name
print(f'Full name is {string_concanted}')

Full name is Angadlamichhhane

In [50]:
my_bio = ['angad','lamichhane',504]
print(f'My bio is {my_bio}')
my_bio.append('Geomatics')
print(f'My bio update information is {my_bio}')

My bio is ['angad', 'lamichhane', 504]
My bio update information is ['angad', 'lamichhane', 504, 'Geomatics']

In [51]:
#list methods 
'''append, extends, sort, sum etc '''

'append, extends, sort, sum etc '

In [52]:
natural_numbers = [1,2,3,4,5,6,7,8,9]
print(f'The natural numbers are : {natural_numbers}')
#append Adds an element at the end of the lists
natural_numbers.append(10)
print(f"The natural numbers after the append methods {natural_numbers}")
#copy() returns the copy of the list
new_numbers = natural_numbers.copy()
print(f'copy of the lists are : {new_numbers}')

The natural numbers are : [1, 2, 3, 4, 5, 6, 7, 8, 9]
The natural numbers after the append methods [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
copy of the lists are : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
#clear() removes all the elements of the lists
natural_numbers.clear()
print(f'Natural numbers after the clear are: {natural_numbers}')

Natural numbers after the clear are: []

In [54]:
numbers = [1,2,3,4,5,6,7,8,9]
negative_numbers = [-9,-8,-7,-6,-5,-4,-3,-2,-1,0]
print(f'The number without reverse are: {negative_numbers}')
# reverse is used to reverese the order of the list 
negative_numbers.reverse()
print(f'The reversed numbers are: {negative_numbers}')
#extends() add the elements of the list, to the end of the current list
numbers.extend(negative_numbers)
print(f"All numbers are : {numbers}")

The number without reverse are: [-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
The reversed numbers are: [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
All numbers are : [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
#logical errors
word = 'Angad'
w = len(word)#calculting the length of the string
print(f'The length of the string is {w}')
while(w>=0):#checking the condition upto where the while loop is to run
    l=0
    print(word[l])
    l+=1
    w-=1

In [55]:
#exceptions
import urllib3 #importing the python module
url = 'https://www.angadlamichhane.com.np/' #serching for the url
try:
    req = urllib3.request(url) #trying to get https request from the server
    response = urllib3.urlopen(req) #after the sucessful of the request trying to open the url
    page = response.read() #reading the html content
    print(page) #displaying the content
except:
    print ("we run into the problem, please check your internet connection")

we run into the problem, please check your internet connection

In [56]:
#object oriented programming example 
class Student: #defines class
    def __init__(self,name,age): #specify this belogs to dog class like constructor in c++ also called as instance attributes
        self.name = name #creates an attribute called name and assigns to it the value od the name parameter
        self.age = age
    
buddy = Student("Buddy",19) #instances of the student class
angad = Student("Angad",23)
print(f'My name is {angad.name} and my age is {angad.age}') #assessing rhe

My name is Angad and my age is 23

In [57]:
#Literals 
#Numeric literals
x = 24 #interger literals
y = 24.3 #float literals
z = 2+3j #complex literas
print(f'Interger:{x}, Float:{y}, Complex number:{z}')

Interger:24, Float:24.3, Complex number:(2+3j)

In [58]:
#string literals 
#in single quote
s = 'I am angad Lamichhane written in single quote.'
# in double quote
d = " I am angad lamichhane written in double quote."
# in triple quote (multi-line string)
m = '''
I am angad lamichhane,
        written in triple quote.
'''
print(s)
print(d)
print()

I am angad Lamichhane written in single quote.
 I am angad lamichhane written in double quote.

In [59]:
#create of the tuple :
thistuple = ('apple','banana', 'chhery')
thistuple

('apple', 'banana', 'chhery')

In [60]:
#tuples allow the duplicate values 
thistuple = ('apple','banana','chhery','apple','chhery')
thistuple

('apple', 'banana', 'chhery', 'apple', 'chhery')

In [61]:
#create of sets
thisset = {'apple','banana','chhery'}
thisset

{'apple', 'banana', 'chhery'}

In [62]:
#duplicate value are ignored
thisset = {'apple','banana','chhery','apple'}

In [63]:
#python program to illustrate finding common members in list using in operator
list1 = [1,2,3,4,5]
list2 = [6,7,8,9]
for item in list1:
    if item in list2:
        print ("overlapping")
    else:
        print("not overlapping")

not overlapping
not overlapping
not overlapping
not overlapping
not overlapping